<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
  <script type="text/javascript">
    const _completeDeepClone = (target, map = new Map()) => {
      // 补全代码
      var map = map || {};
      for (let key in target) {
        if (typeof target[key] == 'object') {
          map[key] = target[key].constructor == Array ? [] : {};
        } else {
          map[key] = target[key];
        }
      }
      console.log(map);
      return map;
      
    };
    _completeDeepClone();
  </script>
</html>
